<section class="block container">
    <header class="block__header">
        <h2 class="block__heading">Heading</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum, culpa exercitationem quis numquam et hic quibusdam eligendi unde eaque molestias?</p>
    </header>
    <div style="width: 30%; padding: 4rem;">
        <div class="card card--secondary">
           <header class="card__header">Card Title</header>
           <div class="card__body">
           Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus, maxime tempora placeat saepe maiores provident odio velit molestias cumque nesciunt?
           </div>
        </div>
</div>
</section>
<section class="block block--dark block--skewed-right">
    <h2 class="block__heading">Heading</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum, culpa exercitationem quis numquam et hic quibusdam eligendi unde eaque molestias?</p>
    
</section>